/* === imports === */
@use 'sass:color';
@import 'base'; // this line imports the file src/_base.scss

/* === mixin === */

/* 👇 write mixin here 👇 */

@mixin circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


/* === function === */

/* 👇 write function here 👇 */
 
@function colorize-red($original-color, $amount: 255) {
  @return color.adjust($original-color, $red: $amount);
}




/*  === classes === */

/* 👇 write circle classes here 👇 */

.grey {
  @include circle;
  background: colorize-red(lightgray, 255);
}
.green {
  @include circle;
  background: colorize-red(seagreen, 255);
}
.blue {
  @include circle;
  background: colorize-red(blue, 255);
}
