.container {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  /* 👇 add your styles here 👇 */
  
}

@keyframes blink {
  0%, 100% { /* defines the properties at these frames */
    /* 👇 add your styles here 👇 */
    
  }

  50% { /* defines the properties at this frame */
    /* 👇 add your styles here 👇 */
    
  }
}